<html>
<head>
    {% block head %}
    {# CSS stylesheets would be here #}
    <title>{% block title %}My default page{% endblock %}</title>
    {% endblock %}
</head>

<body>
    {% block content %}
    Content goes here!
    {% endblock %}
</html>

{% block javascript %}
{# Uses standard jQuery from jQuery's CDN #}
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
{% endblock %}
