Detection template will go here.
{# If this were a full-fledged website, there would actually be interesting
   stuff in base.tml #}
{% extends 'base.tmpl' %}
{% set browsers = ['Firefox', 'Chrome', 'Internet Explorer', 'Unknown'] %}
{% set systems = ['Linux', 'Windows', 'Unknown'] %}

{% block title %}Browser/OS Detection Page{% endblock %}

{% block content %}
<table>
    {# Create header row. First is blank for OS column #}
    <th></th>
    {% for browser in browsers %}
        <th>{{ browser }}</th>
    {% endfor %}
    
{% for os in systems %}
    <tr id='{{ os }}'>
        <td>{{ os }}</td>
        {% for browser in browsers %}
        <td class='{{ browser }}'></td>
        {% endfor %}
    </tr>
{% endfor %}

</table>
{% endblock %}

{% block javascript %}
{{ super() }}
{# Here is code to determine the user's browser/OS combination #}
<script>
var os = 'Unknown';
var browser = 'Unknown';

var app = navigator.appVersion;
var agent = navigator.userAgent;

{# Detect OS #}
if (app.indexOf('Windows') != -1){
    os = 'Windows';
}
{# These all go to Linux, but they could be broken out on their own #}
else if (app.indexOf('Mac') != -1){
    os = 'Linux';
}
else if (app.indexOf('X11') != -1){
    os = 'Linux';
}
else if (app.indexOf('Linux') != -1){
    os = 'Linux';
}

{# Detect browser #}
if (agent.indexOf('Firefox') != -1){
    browser = 'Firefox';
}
else if (agent.indexOf('Chrome') != -1){
    browser = 'Chrome';
}
else if (agent.indexOf('MSIE') != -1){
    browser = 'Internet Explorer';
}


{# We'd probably want with an on-load, but it's such a small page #}
$('#'+os+' .'+browser).html('X')

</script>
{% endblock %}
